/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    background-color: #7a7120;
  }
  
  a {
    text-decoration: none;
    color: rgb(13, 14, 13);
  }
  
  a:hover {
    color: black;
  }
  
  button {
    background-color: #f1e8e8;
    border: none;
    cursor: pointer;
  }
  
  .template {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .user-container {
    display: flex;
    gap: 40px;
  }
  
  .user-img {
    width: 0px;
    height: 0px;
    border-radius: 0%;
    object-fit: cover;
  }
  
  .user-div {
    background-color: antiquewhite;
    width: 400px;
    padding: 0 15px;
    border-radius: 5px;
  }
  
  .username {
    font-weight: bold;
  }
  
  .posts_counter {
    margin-left: 250px;
  }
  
  .post-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .see-posts-btn {
    font-size: 20px;
    font-weight: bold;
  }
  